* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7df1e;
    color:#181606;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp{
    border: none;
    background-color: white;
}

.form-btn {
    background-color: #181606;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fffa8f;
}